.App {
  text-align: center;
}
img{
  width:200px;
  height:200px
}
.error_output{
  margin-left: 10px;
  font-size: 12px;
  font-style: italic;
  color: red;
}

* {
  box-sizing: border-box; 
}
#main {
  display: flex;
  flex: 1;
}
#main > article {
  flex: 1;
  border: 3px solid rgb(0, 0, 0);
  box-shadow: 2px 2px 6px 0px  rgba(3,3,3,3.3);
  min-height: 80vh;
}
#main > nav, 
#main > aside {
  flex: 0 0 20vw;
  background: beige;
}
#main > nav {
  order: -1;
}
header{
  padding-bottom: 100em;
  text-align:center;
}
header, footer {
  background: yellowgreen;
  height: 8vh;
}
header, footer, article, nav, aside {
  padding: 2em;
}

